* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*à modifier ci dessous*/
  justify-content: flex-start;
  text-align: center;
  /* height: 100vh;*/
  color: black;
  margin: 0;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*text-align: center;*/
}

#time {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.6;
}

blockquote {
  /*border-radius: 5px;*/
  margin: 1rem;
}

cite {
  margin: 0.5rem 1rem;
}


@media (min-width: 900px) {
  #container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  aside {
    width: 20%;
  }
  #container {
    height: 70vh;
  }
  #to-do {
    height: 30vh;
  }
}

/* Code de Pierre - backgrounds */
/* filtre flou + opacité réduite + transition en fondu */
body:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;

  filter: blur(2px);
  -moz-filter: blur(2px);
  -webkit-filter: blur(2px);
  -o-filter: blur(2px);

  filter: brightness(70%);
  -moz-filter: brightness(70%);
  -webkit-filter: brightness(70%);
  -o-filter: brightness(70%);

  transition: all 1.5s linear;
  -moz-transition: all 1.5s linear;
  -webkit-transition: all 1.5s linear;
  -o-transition: all 1.5s linear;
}

/*TO DO*/
.intro {
  margin: 30px 0px;
  font-weight: bold;
}

p {
  font-weight: 600;
}

#enter:hover {
  opacity: 0.8;
}

ul {
  text-align: left;
  margin-top: 20px;
}

li {
  list-style: none;
  padding: 10px 20px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #f8ca73;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #4eb9cd;
}

li:hover {
  background: #76cfe0;
}

li > button {
  font-weight: normal;
  background: none;
  border: none;
  float: right;
  color: #025f70;
  font-weight: 800;
}

input {
  border-radius: 5px;
  min-width: 65%;
  padding: 5px;
  border: none;
}

.done {
  background: #51df70 !important;
  color: #fff;
}

.delete {
  display: none;
}
